.contact-content {
    background-color:darken($custom-green, 10%);
    background-image: url(../img/lawn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #fff;
    
    ul {
        list-style: none;
        font-size: 22px;
        padding: 0;
        text-align: left;
        
        a {
            color: #fff;
            text-decoration: none;
        }
        
        li:nth-child(2) {
            &:before {
                font-family: FontAwesome;
                content: "\f095";
                padding-right: 5px;
            }
        }
        li:nth-child(3) {
            &:before {
                font-family: FontAwesome;
                content: "\f0e0";
                padding-right: 5px;
            }
        }
         li:nth-child(4) {
            &:before {
                font-family: FontAwesome;
                content: "\f041";
                padding-right: 5px;
            }
        }
    }
}

.contact-form {
    width: 100%;
    text-align: center;
    background-color: $custom-white;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    @include big-box-design;
    
    .form-title {
        color: #000 !important;
    }
    
     form {
         
         .custom-control-indicator {
             background-color: $custom-green !important;
         }
        
        button {
            @include small-box-design;
            display: block;
            margin: 0 auto !important;
            background-color: $custom-green !important;
        }
    }
}