.bug-tile {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $custom-green;
    color: #fff;
    font-size: 1em;
    font-weight: 900;
}

.tile-active {
    background-color: darken($custom-green, 10%);
}

.slide-hidden {
    display: none;
}