.home-jumbotron {
    background-image: url(../img/home-hero2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 100%;
    color: white;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    .hero-heading {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 25px 0px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-left: 30%;
            
        span {
            font-family: 'Raleway', sans-serif;
            font-weight: 900;
            text-transform: uppercase;
        }
            
        h1 {
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
        }
        
        ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style-type: none;
            padding: 0;
        }
        
        .cta-hero {
            @include small-box-design;
        }
    }
}

@media screen and (min-width: 1600px) {}

@media screen and (max-width: 960px) {
    
    .home-jumbotron {
        
        .hero-heading {
            width: 100%;
            margin-left: 0;
            
            h2 {
                font-size: 1.25em;
            }
        }  
    }
}