.intro-section {
    
    p {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

.pest-man-container {
    position: relative;
    
    .pest-man {
        height: 100%;
        background-image: url(../img/man.png);
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
    }
}