.guarantee-wrapper {
    background-color: darken($custom-green,10%);
}

.guarantee-content {
    color: $custom-white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.hero-form {
    text-align: center;
    background-color: $custom-white;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    @include big-box-design;
    
    .form-title {
        color: #000 !important;
    }
    
     form {
         
         .custom-control-indicator {
             background-color: $custom-green !important;
         }
        
        button {
            @include small-box-design;
            display: block;
            margin: 0 auto !important;
            background-color: $custom-green !important;
        }
    }
}