.home-jumbotron {
    min-height: 500px;
    background-image: url(../img/bug-boss-home-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    width: 100%;
    color: white;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    .hero-heading {
        padding: 25px 5px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-left: 40%;
        font-family: 'Raleway', sans-serif;
            
        .title {
            font-weight: 900;
            text-transform: uppercase;
            font-size: 72px;
            text-shadow: 3px 3px 10px black;
        }
            
        h1 {

        }
        
        .cta-hero {
            @include small-box-design;
            margin: 1rem auto;
            width: 300px;
        }
        
        p {
            margin-top: 1rem;
            font-size:  24px;
        }
    }
}

@media screen and (max-width: 995px) {
    
    .home-jumbotron {
        
        .hero-heading {
            margin-left: 0;
            
            p {
                font-size: 18px;
            }
        }  
    }
}

@media screen and (max-width: 530px) {
    
    .home-jumbotron {
        background-image: url(../img/bug-boss-home-hero-mobile.jpg);
        
        .hero-heading {
            
            .title {
                font-size: 50px;
            }
        }  
    }
}