.home-jumbotron {
//    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
    background-color: black;
    background-size: cover;
    background-position: 60% 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 70vh;
    width: 100%;
    box-sizing: border-box;
    color: white;
    box-shadow: 0px 5px 40px #0f0f0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-right: 30vw;
    position: relative;
    h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
    }
    p {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }
    .cta-hero {
        display: inline-block;
        max-width: 300px;
        background-color: #ffff00;
        box-shadow: 0px 5px 40px #0f0f0f;
        color: #000;
        padding: 5px 25px;
        line-height: 2;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto;
        font-weight: 600;
        font-size: 1.2em;
        transition: all ease-in 100ms;
        &:hover {
            text-decoration: none;
            transform: scale(1.1);
        }
    }
}

.home-tile {
    box-shadow: 0px 5px 40px #0f0f0f;
}

.big-nav-box {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#yellow-nav {
    position: absolute;
    width: 85%;
    background-color: black;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
        background-color: yellow;
        flex-grow: 1;
        a {
            color: black;
        }
    }
}

//RIBBON SECTION//

.page-ribbon {
    position: relative;
    background-image: url(../img/dark_leather.png);
    padding: 1vh 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: 0px -5px 40px #0f0f0f;
    .row {
        overflow: hidden;
    }
    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-around;
            li {
                font-weight: 300;
                h3 {
                    color: #EDB01E;
                }
                p {
                    max-width: 300px;
                }
            }
        }
        &:nth-child(1) {
            text-align: right;
            align-items: flex-end;
        }
        &:nth-child(2) {
            align-items: center;
            img {
                max-height: 700px;
                width: auto;
            }
        }
        &:nth-child(3) {
            text-align: left;
            align-items: flex-start;
        }
    }
}

@media screen and (max-width: 980px) {
    .home-jumbotron {
        h1 {
            font-size: 2em;
        }
    }
    .page-ribbon {
        .col {
            &:nth-child(1) {
                text-align: center;
                h3 {
                    font-size: 1.5em;
                }
            }
            &:nth-child(2) {
            }
            &:nth-child(3) {
                display: none;
            }
        }
    }
}


@media screen and (max-width: 600px) {
    .home-jumbotron {
        padding: 5px;
         background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero_mobile.jpg);
    }
}

@media screen and (max-width: 350px) {
    .page-ribbon {
        .col {
            &:nth-child(1) {
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                display: none;
            }
        }
    }
}

.spacer {
    height: 2000px;
}