.home-jumbotron {
    background-image: url(../img/home-hero.jpg);
    background-size: cover;
    background-position: 30% 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    padding: 0;     
    overflow: hidden;
    .hero-heading {
        
        position: relative;
        z-index: 1;
        padding-right: 30%;
            
        h1 {
            font-family: 'Raleway', sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 4em;
        }
            
        p {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 2em;
            background-color: rgba(0,0,0,0.2);
            display: block;
            padding: 5px 5vw;
            width: 200vw;
        }
            
        .cta-hero {
            @include small-box-design;
        }
        
    }
    
    .hero-form {
        background-color: lightcoral;
        color: $black;
        @include big-box-design;
        position: absolute;
        z-index: 2;
        margin-left: 25%;
        
        .form-title {
            background-color: $blue;
            position: absolute;
            width: 100%;
            padding: 10px 5px;
            margin-bottom: 0;
            top: 0;
            left: 0;
            transform: translate(0,-100%);
        }
    
        form {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            button {
                @include small-box-design;
                border: none;
                cursor: pointer;
            }
            
            .form-group {
                input {
                    margin-top: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .home-jumbotron {
	    height: 50vh;
        
        .hero-heading {
	        padding-right: 20%;
        }
        
        .hero-form {
	        margin-left: 15%;
        }
    }
}

@media screen and (max-width: 960px) {
    .hero-form {
        display: none;
	}
    .home-jumbotron {
        background-image: url(../img/home-hero-mobile.jpg);
        background-position: center center;
        padding-left: 0;
        height: 50vh;
        
        .hero-heading {
	        padding-right: 0;
            
            h1 {
                font-size: 3em;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .slogan {
        font-size: 1.25em !important;
    }
}