// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.

//VARIBLES//
$custom-green: #18d34b;
$custom-white: #FEFEFE;

$big-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

$small-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
$small-box-trans: all 0.3s cubic-bezier(.25,.8,.25,1);

$small-box-hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

//MIXINS//
@mixin small-box-design {
    display: inline-block;
    background-color: $custom-green;
    box-shadow: $small-box-shadow;
    color: #fff;
    padding: 5px 2.5vw;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1.2em;
    transition: $small-box-trans;

    &:hover {
        text-decoration: none;
        box-shadow: $small-box-hover;
    }
}

@mixin big-box-design {
    padding: 25px 10px;
    box-sizing: border-box;
    box-shadow: $big-box-shadow;
    background-color: #fff;
}

//HEADER STUFF//

//FOOTER STUFF//
#wrapper-footer {
    background-color: darken(#343a40, 10%);
    color: #fff;
    
    a {
        color: #fff;
        text-decoration: none;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
    }
    
    .custom-svg {
        max-width: 200px;
        height: auto;
    }
}

//BODY STUFF//

* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: $custom-white;
}

#full-width-page-wrapper {
	padding-top: 0;
    padding-bottom: 0;
}